<p id="notice"><%= notice %></p>

<h1>Conditions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Condition</th>
      
      <th>Schedule</th>
      <th>Condition</th>
      <th>Condition type</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.condition_id %></td>
        
        <td><%= condition.schedule_id %></td>
        <td><%= condition.condition %></td>
        <td><%= condition.condition_type %></td>
        <td><%= condition.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= condition.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Mostrar', condition %></td>
        <td><%= link_to 'Editar', edit_condition_path(condition) %></td>
        <td><%= link_to 'Eliminar', condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Condition', new_condition_path %>
