<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @condition.condition_id %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @condition.schedule_id %>
</p>

<p>
  <strong>Condición:</strong>
  <%= @condition.condition %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @condition.condition_type %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @condition.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @condition.update_at %>
</p>

<%= link_to 'Editar', edit_condition_path(@condition) %> |
<%= link_to 'Atras', conditions_path %>
