

<h1>Sessions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Session</th>
      
      <th>User</th>
      <th>Token</th>
      <th>Expires</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.session_id %></td>
        
        <td><%= session.user_id %></td>
        <td><%= session.token %></td>
        <td><%= session.expires %></td>
        <td><%= session.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= session.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_session_path(session) %></td>
        <td><%= link_to 'Eliminar', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
