<p id="notice"><%= notice %></p>

<h1>Parameters Values</h1>

<table>
  <thead>
    <tr>
      <th>Parameter value</th>
      <th>State</th>
      <th>Value</th>
      <th>Parameter</th>
      <th>Created at</th>
      <th>Update at</th>
      <th>Delete at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parameters_values.each do |parameters_value| %>
      <tr>
        <td><%= parameters_value.parameter_value_id %></td>
        <td><%= parameters_value.state %></td>
        <td><%= parameters_value.value %></td>
        <td><%= parameters_value.parameter_id %></td>
        <td><%= parameters_value.created_at %></td>
        <td><%= parameters_value.update_at %></td>
        <td><%= parameters_value.delete_at %></td>
        <td><%= link_to 'Show', parameters_value %></td>
        <td><%= link_to 'Edit', edit_parameters_value_path(parameters_value) %></td>
        <td><%= link_to 'Destroy', parameters_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parameters Value', new_parameters_value_path %>
