<p id="notice"><%= notice %></p>

<h1>Parameters Values</h1>

<table class="table">
  <thead>
    <tr>
      <th>Parameter value</th>
      
      <th>Value</th>
      <th>Parameter</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @parameters_values.each do |parameters_value| %>
      <tr>
        <td><%= parameters_value.parameter_value_id %></td>
        
        <td><%= parameters_value.value %></td>
        <td><%= parameters_value.parameter_id %></td>
        <td><%= parameters_value.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= parameters_value.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_parameters_value_path(parameters_value) %></td>
        <td><%= link_to 'Eliminar', parameters_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parameters Value', new_parameters_value_path %>
