<p id="notice"><%= notice %></p>

<p>
  <strong>Parameter value:</strong>
  <%= @parameters_value.parameter_value_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @parameters_value.state %>
</p>

<p>
  <strong>Value:</strong>
  <%= @parameters_value.value %>
</p>

<p>
  <strong>Parameter:</strong>
  <%= @parameters_value.parameter_id %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @parameters_value.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @parameters_value.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @parameters_value.delete_at %>
</p>

<%= link_to 'Editar', edit_parameters_value_path(@parameters_value) %> |
<%= link_to 'Atras', parameters_values_path %>
