

<p>
  <strong>ID:</strong>
  <%= @parameters_value.parameter_value_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @parameters_value.value %>
</p>

<p>
  <strong>Parametr:o</strong>
  <%= @parameters_value.parameter_id %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @parameters_value.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @parameters_value.update_at %>
</p>

<%= link_to 'Editar', edit_parameters_value_path(@parameters_value) %> |
<%= link_to 'Atras', parameters_values_path %>
