<p id="notice"><%= notice %></p>

<h1>Components</h1>

<table class="table">
  <thead>
    <tr>
      <th>Component</th>
      <th>State</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Update at</th>
      <th>Delete at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.component_id %></td>
        <td><%= component.state %></td>
        <td><%= component.name %></td>
        <td><%= component.created_at %></td>
        <td><%= component.update_at %></td>
        <td><%= component.delete_at %></td>
        <td><%= link_to 'Show', component %></td>
        <td><%= link_to 'Edit', edit_component_path(component) %></td>
        <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_component_path %>
