<p id="notice"><%= notice %></p>

<p>
  <strong>Component:</strong>
  <%= @component.component_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @component.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @component.created_at %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @component.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @component.delete_at %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
