<p id="notice"><%= notice %></p>

<p>
  <strong>Module:</strong>
  <%= @component.module_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @component.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @component.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @component.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @component.delete_at %>
</p>

<%= link_to 'Editar', edit_component_path(@component) %> |
<%= link_to 'Atras', components_path %>
