

<p>
  <strong>ID:</strong>
  <%= @component.module_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @component.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @component.update_at %>
</p>

<%= link_to 'Editar', edit_component_path(@component) %> |
<%= link_to 'Atras', components_path %>
