<p id="notice"><%= notice %></p>

<h1>Petition Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Petition type</th>
      
      <th>Nombre</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petition_types.each do |petition_type| %>
      <tr>
        <td><%= petition_type.petition_type_id %></td>
        
        <td><%= petition_type.name %></td>
        <td><%= petition_type.created_at %></td>
        <td><%= petition_type.update_at %></td>
        
        <td><%= link_to 'Mostrar', petition_type %></td>
        <td><%= link_to 'Editar', edit_petition_type_path(petition_type) %></td>
        <td><%= link_to 'Eliminar', petition_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition Type', new_petition_type_path %>
