

<h1>Tipo de petición</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      
      <th>Nombre</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @petition_types.each do |petition_type| %>
      <tr>
        <td><%= petition_type.petition_type_id %></td>
        
        <td><%= petition_type.name %></td>
        <td><%= petition_type.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= petition_type.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_petition_type_path(petition_type) %></td>
        <td><%= link_to 'Eliminar', petition_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo tipo de petición', new_petition_type_path %>
