<p id="notice"><%= notice %></p>

<p>
  <strong>Petition type:</strong>
  <%= @petition_type.petition_type_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @petition_type.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @petition_type.name %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @petition_type.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @petition_type.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @petition_type.delete_at %>
</p>

<%= link_to 'Editar', edit_petition_type_path(@petition_type) %> |
<%= link_to 'Atras', petition_types_path %>
