<p id="notice"><%= notice %></p>

<h1>Petitions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Petition</th>
      
      <th>User</th>
      <th>Petition type</th>
      <th>Title</th>
      <th>Description</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petitions.each do |petition| %>
      <tr>
        <td><%= petition.petition_id %></td>
        
        <td><%= petition.user_id %></td>
        <td><%= petition.petition_type_id %></td>
        <td><%= petition.title %></td>
        <td><%= petition.description %></td>
        <td><%= petition.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= petition.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Mostrar', petition %></td>
        <td><%= link_to 'Editar', edit_petition_path(petition) %></td>
        <td><%= link_to 'Eliminar', petition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition', new_petition_path %>
