

<h1>Peticiones</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      
      <th>Usuario</th>
      <th>Tipo</th>
      <th>Titulo</th>
      <th>Descripcíon</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @petitions.each do |petition| %>
      <tr>
        <td><%= petition.petition_id %></td>
        
        <td><%= petition.user_id %></td>
        <td><%= petition.petition_type_id %></td>
        <td><%= petition.title %></td>
        <td><%= petition.description %></td>
        <td><%= petition.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= petition.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_petition_path(petition) %></td>
        <td><%= link_to 'Eliminar', petition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva petición', new_petition_path %>
