<p id="notice"><%= notice %></p>

<p>
  <strong>Petition:</strong>
  <%= @petition.petition_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @petition.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @petition.user_id %>
</p>

<p>
  <strong>Petition type:</strong>
  <%= @petition.petition_type_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @petition.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @petition.description %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @petition.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @petition.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @petition.delete_at %>
</p>

<%= link_to 'Editar', edit_petition_path(@petition) %> |
<%= link_to 'Atras', petitions_path %>
