<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @petition.petition_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @petition.user_id %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @petition.petition_type_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @petition.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @petition.description %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @petition.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @petition.update_at %>
</p>

<%= link_to 'Editar', edit_petition_path(@petition) %> |
<%= link_to 'Atras', petitions_path %>
