<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @device.device_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @device.location_id %>
</p>

<p>
  <strong>UUID:</strong>
  <%= @device.UUID %>
</p>

<p>
  <strong>State onoff:</strong>
  <%= @device.state_onoff %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @device.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @device.update_at %>
</p>

<%= link_to 'Editar', edit_device_path(@device) %> |
<%= link_to 'Atras', devices_path %>
