<p id="notice"><%= notice %></p>

<p>
  <strong>User desc:</strong>
  <%= @users_desc.user_desc_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @users_desc.state %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @users_desc.sex_id %>
</p>

<p>
  <strong>City residence:</strong>
  <%= @users_desc.city_residence_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @users_desc.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @users_desc.address %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @users_desc.cell_phone %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @users_desc.birth_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @users_desc.user_id %>
</p>

<%= link_to 'Edit', edit_users_desc_path(@users_desc) %> |
<%= link_to 'Back', users_descs_path %>
