<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @users_desc.user_desc_id %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @users_desc.sex_id %>
</p>

<p>
  <strong>Ciudad de residencia:</strong>
  <%= @users_desc.city_residence_id %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @users_desc.phone %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @users_desc.address %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @users_desc.cell_phone %>
</p>

<p>
  <strong>Cumpleaños:</strong>
  <%= @users_desc.birth_date %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @users_desc.user_id %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @users_desc.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @users_desc.update_at %>
</p>

<%= link_to 'Editar', edit_users_desc_path(@users_desc) %> |
<%= link_to 'Atras', users_descs_path %>
