<%= form_for(incidence) do |f| %>
  <% if incidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incidence.errors.count, "error") %> prohibited this incidence from being saved:</h2>

      <ul>
      <% incidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :incidence_id, "ID" %>
    <%= f.number_field :incidence_id, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= f.label :title, "Titulo" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :incidence_type_id, "Tipo" %>
    <%= f.select :incidence_type_id, 
          options_from_collection_for_select(IncidenceType.all, :id, :name, @incidence.incidence_type_id), {}, 
          {:class => "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :progress, "Progreso" %>
    <%= f.select :progress, options_for_select(@progresos), {}, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'submit', class: 'btn btn-success' %>
  </div>
<% end %>
