<p id="notice"><%= notice %></p>

<h1>Incidences</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      
      <th>Titulo</th>
      <th>Descripción</th>
      <th>Tipo</th>
      <th>Progreso</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidences.each do |incidence| %>
      <tr>
        <td><%= incidence.incidence_id %></td>
        
        <td><%= incidence.title %></td>
        <td><%= incidence.description %></td>
        <td><%= incidence.incidence_type_id %></td>
        <td><%= incidence.progress %></td>
        <td><%= incidence.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= incidence.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_incidence_path(incidence) %></td>
        <td><%= link_to 'Eliminar', incidence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva incidencia', new_incidence_path %>
