<p id="notice"><%= notice %></p>

<p>
  <strong>Incidence:</strong>
  <%= @incidence.incidence_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @incidence.state %>
</p>

<p>
  <strong>Title:</strong>
  <%= @incidence.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incidence.description %>
</p>

<p>
  <strong>Incidence type:</strong>
  <%= @incidence.incidence_type_id %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @incidence.progress %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @incidence.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @incidence.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @incidence.delete_at %>
</p>

<%= link_to 'Editar', edit_incidence_path(@incidence) %> |
<%= link_to 'Atras', incidences_path %>
