<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @incidence.incidence_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @incidence.title %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @incidence.description %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @incidence.incidence_type_id %>
</p>

<p>
  <strong>Progreso:</strong>
  <%= @incidence.progress %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @incidence.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @incidence.update_at %>
</p>

<%= link_to 'Editar', edit_incidence_path(@incidence) %> |
<%= link_to 'Atras', incidences_path %>
