<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @user.perfil_id %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @user.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @user.update_at %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atras', users_path %>
