<div class="container form-signin">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>ID:</strong>
    <%= @state.state_id %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @state.name %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= @state.country.name %>
  </p>

  <p>
    <strong>Creado:</strong>
    <%= @state.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
  </p>

  <p>
    <strong>Modificado:</strong>
    <%= @state.update_at %>
  </p>

  <%= link_to 'Editar', edit_state_path(@state) %> |
  <%= link_to 'Atras', states_path %>

</div>