<%= form_for(schedule) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_id %>
    <%= f.number_field :schedule_id %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.number_field :state %>
  </div>

  <div class="field">
    <%= f.label :device_id %>
    <%= f.number_field :device_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.time_select :time %>
  </div>

  <div class="field">
    <%= f.label :repetition %>
    <%= f.number_field :repetition %>
  </div>

  <div class="field">
    <%= f.label :interval %>
    <%= f.text_field :interval %>
  </div>

  <div class="field">
    <%= f.label :created_at %>
    <%= f.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= f.label :update_at %>
    <%= f.datetime_select :update_at %>
  </div>

  <div class="field">
    <%= f.label :delete_at %>
    <%= f.datetime_select :delete_at %>
  </div>

  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-success' %>
  </div>
<% end %>
