<%= form_for(schedule) do |f| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="schedule_schedule_id">ID</label>
    <%= f.number_field :schedule_id, class:"form-control", :readonly => 'readonly' %>
  </div>

  <div class="field">
    <label for="schedule_device_id">Dispositivo</label>
    <%= f.select :device_id, 
          options_from_collection_for_select(
            Device.where("user_id = #{current_user.id}"
          ), :id, :name, schedule.device_id), {}, 
          {:class => "form-control"} %>
  </div>
  <div class="field">
    <label for="schedule_date">Hora</label>
    <div class='input-group date' id='schedule_date'>
        <%= f.text_field :date, class:"form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#schedule_date').datetimepicker({format: "YYYY-MM-DD"});
        });
    </script>
  </div>
  <div class="field">
    <label for="schedule_time">Hora</label>
    <div class='input-group date' id='schedule_time'>
        <%= f.text_field :time, class:"form-control" %>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#schedule_time').datetimepicker({format: "HH:mm:ss"});
        });
    </script>
  </div>

  <div class="field">
    <label for="schedule_interval">Duracion</label>
    <%= f.number_field :interval, class:"form-control" %>
  </div>

  <div class="field">
    <label for="schedule_repeticion">Repeticion</label>
    <%= f.select :repetition, options_for_select(@repeticion), {}, class:"form-control" %>
  </div>

  <div class="field">
    <label for="schedule_interval">Intervalo</label>
    <%= f.number_field :interval, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-success' %>
  </div>
<% end %>
