<p id="notice"><%= notice %></p>

<h1>Horarios</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      
      <th>Dispositivo</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Repetición</th>
      <th>Intervalo</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.schedule_id %></td>
        
        <td><%= schedule.device.name %></td>
        <td><%= schedule.date %></td>
        <td><%= schedule.time.strftime("%H:%M:%S") %></td>
        <td><%= @repeticion[schedule.repetition][0] %></td>
        <td><%= schedule.interval %></td>
        <td><%= schedule.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= schedule.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Eliminar', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo horario', new_schedule_path %>
