<%= form_for(recovery_password) do |f| %>
  <% if recovery_password.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recovery_password.errors.count, "error") %> prohibited this recovery_password from being saved:</h2>

      <ul>
      <% recovery_password.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recovery_password_id %>
    <%= f.number_field :recovery_password_id %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.number_field :state %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :token %>
    <%= f.text_field :token %>
  </div>

  <div class="field">
    <%= f.label :progress %>
    <%= f.text_field :progress %>
  </div>

  <div class="field">
    <%= f.label :created_at %>
    <%= f.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= f.label :update_at %>
    <%= f.datetime_select :update_at %>
  </div>

  <div class="field">
    <%= f.label :delete_at %>
    <%= f.datetime_select :delete_at %>
  </div>

  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-success' %>
  </div>
<% end %>
