<p id="notice"><%= notice %></p>

<h1>Recovery Passwords</h1>

<table class="table">
  <thead>
    <tr>
      <th>Recovery password</th>
      
      <th>User</th>
      <th>Token</th>
      <th>Progress</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recovery_passwords.each do |recovery_password| %>
      <tr>
        <td><%= recovery_password.recovery_password_id %></td>
        
        <td><%= recovery_password.user_id %></td>
        <td><%= recovery_password.token %></td>
        <td><%= recovery_password.progress %></td>
        <td><%= recovery_password.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= recovery_password.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_recovery_password_path(recovery_password) %></td>
        <td><%= link_to 'Eliminar', recovery_password, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recovery Password', new_recovery_password_path %>
