

<p>
  <strong>Recovery password:</strong>
  <%= @recovery_password.recovery_password_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @recovery_password.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @recovery_password.user_id %>
</p>

<p>
  <strong>Token:</strong>
  <%= @recovery_password.token %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @recovery_password.progress %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @recovery_password.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @recovery_password.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @recovery_password.delete_at %>
</p>

<%= link_to 'Editar', edit_recovery_password_path(@recovery_password) %> |
<%= link_to 'Atras', recovery_passwords_path %>
