<%= form_for(incidence_type) do |f| %>
  <% if incidence_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incidence_type.errors.count, "error") %> prohibited this incidence_type from being saved:</h2>

      <ul>
      <% incidence_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :incidence_type_id, "ID" %>
    <%= f.number_field :incidence_type_id, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'submit', class: 'btn btn-success' %>
  </div>
<% end %>
