<p id="notice"><%= notice %></p>

<h1>Incidence Types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Incidence type</th>
      
      <th>Nombre</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidence_types.each do |incidence_type| %>
      <tr>
        <td><%= incidence_type.incidence_type_id %></td>
        
        <td><%= incidence_type.name %></td>
        <td><%= incidence_type.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= incidence_type.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_incidence_type_path(incidence_type) %></td>
        <td><%= link_to 'Eliminar', incidence_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incidence Type', new_incidence_type_path %>
