<p id="notice"><%= notice %></p>

<p>
  <strong>Incidence type:</strong>
  <%= @incidence_type.incidence_type_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @incidence_type.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @incidence_type.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @incidence_type.created_at %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @incidence_type.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @incidence_type.delete_at %>
</p>

<%= link_to 'Edit', edit_incidence_type_path(@incidence_type) %> |
<%= link_to 'Back', incidence_types_path %>
