<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @incidence_type.incidence_type_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @incidence_type.name %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @incidence_type.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @incidence_type.update_at %>
</p>

<%= link_to 'Editar', edit_incidence_type_path(@incidence_type) %> |
<%= link_to 'Atras', incidence_types_path %>
