

<h1>Permissions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Permission</th>
      
      <th>User</th>
      <th>Operation</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.permission_id %></td>
        
        <td><%= permission.user_id %></td>
        <td><%= permission.operation_id %></td>
        <td><%= permission.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= permission.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_permission_path(permission) %></td>
        <td><%= link_to 'Eliminar', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_permission_path %>
