<p id="notice"><%= notice %></p>

<p>
  <strong>Permission:</strong>
  <%= @permission.permission_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @permission.state %>
</p>

<p>
  <strong>User:</strong>
  <%= @permission.user_id %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @permission.operation_id %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @permission.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @permission.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @permission.delete_at %>
</p>

<%= link_to 'Editar', edit_permission_path(@permission) %> |
<%= link_to 'Atras', permissions_path %>
