<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @permission.permission_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @permission.user_id %>
</p>

<p>
  <strong>Operación:</strong>
  <%= @permission.operation_id %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @permission.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @permission.update_at %>
</p>

<%= link_to 'Editar', edit_permission_path(@permission) %> |
<%= link_to 'Atras', permissions_path %>
