

<h1>Perfils</h1>

<table class="table">
  <thead>
    <tr>
      <th>Perfil</th>
      
      <th>Nombre</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfils.each do |perfil| %>
      <tr>
        <td><%= perfil.perfil_id %></td>
        
        <td><%= perfil.name %></td>
        <td><%= perfil.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= perfil.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_perfil_path(perfil) %></td>
        <td><%= link_to 'Eliminar', perfil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perfil', new_perfil_path %>
