<p id="notice"><%= notice %></p>

<p>
  <strong>Perfil:</strong>
  <%= @perfil.perfil_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @perfil.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @perfil.name %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @perfil.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @perfil.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @perfil.delete_at %>
</p>

<%= link_to 'Editar', edit_perfil_path(@perfil) %> |
<%= link_to 'Atras', perfils_path %>
