

<p>
  <strong>ID:</strong>
  <%= @perfil.perfil_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @perfil.name %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @perfil.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @perfil.update_at %>
</p>

<%= link_to 'Editar', edit_perfil_path(@perfil) %> |
<%= link_to 'Atras', perfils_path %>
