<p id="notice"><%= notice %></p>

<h1>Incidences Trackings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Incidence tracking</th>
      
      <th>Incidence</th>
      <th>User</th>
      <th>Comment</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidences_trackings.each do |incidences_tracking| %>
      <tr>
        <td><%= incidences_tracking.incidence_tracking_id %></td>
        
        <td><%= incidences_tracking.incidence_id %></td>
        <td><%= incidences_tracking.user_id %></td>
        <td><%= incidences_tracking.comment %></td>
        <td><%= incidences_tracking.created_at %></td>
        <td><%= incidences_tracking.update_at %></td>
        
        <td><%= link_to 'Mostrar', incidences_tracking %></td>
        <td><%= link_to 'Editar', edit_incidences_tracking_path(incidences_tracking) %></td>
        <td><%= link_to 'Eliminar', incidences_tracking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incidences Tracking', new_incidences_tracking_path %>
