

<p>
  <strong>ID:</strong>
  <%= @incidences_tracking.incidence_tracking_id %>
</p>

<p>
  <strong>Incidence:</strong>
  <%= @incidences_tracking.incidence_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @incidences_tracking.user_id %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @incidences_tracking.comment %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @incidences_tracking.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @incidences_tracking.update_at %>
</p>

<%= link_to 'Editar', edit_incidences_tracking_path(@incidences_tracking) %> |
<%= link_to 'Atras', incidences_trackings_path %>
