<p id="notice"><%= notice %></p>

<p>
  <strong>Incidence tracking:</strong>
  <%= @incidences_tracking.incidence_tracking_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @incidences_tracking.state %>
</p>

<p>
  <strong>Incidence:</strong>
  <%= @incidences_tracking.incidence_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @incidences_tracking.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @incidences_tracking.comment %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @incidences_tracking.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @incidences_tracking.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @incidences_tracking.delete_at %>
</p>

<%= link_to 'Editar', edit_incidences_tracking_path(@incidences_tracking) %> |
<%= link_to 'Atras', incidences_trackings_path %>
