

<h1>Consumptions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Consumption</th>
      
      <th>Device</th>
      <th>Date</th>
      <th>Time</th>
      <th>Consumption</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumptions.each do |consumption| %>
      <tr>
        <td><%= consumption.consumption_id %></td>
        
        <td><%= consumption.device_id %></td>
        <td><%= consumption.date %></td>
        <td><%= consumption.time %></td>
        <td><%= consumption.consumption %></td>
        <td><%= consumption.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= consumption.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_consumption_path(consumption) %></td>
        <td><%= link_to 'Eliminar', consumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consumption', new_consumption_path %>
