

<p>
  <strong>ID:</strong>
  <%= @consumption.consumption_id %>
</p>

<p>
  <strong>Dispositivos:</strong>
  <%= @consumption.device_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @consumption.date %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @consumption.time %>
</p>

<p>
  <strong>Consumo:</strong>
  <%= @consumption.consumption %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @consumption.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @consumption.update_at %>
</p>

<%= link_to 'Editar', edit_consumption_path(@consumption) %> |
<%= link_to 'Atras', consumptions_path %>
