<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @petitions_tracking.petition_tracking_id %>
</p>

<p>
  <strong>Petición:</strong>
  <%= @petitions_tracking.petition_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @petitions_tracking.user_id %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @petitions_tracking.comemnt %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @petitions_tracking.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @petitions_tracking.update_at %>
</p>

<%= link_to 'Editar', edit_petitions_tracking_path(@petitions_tracking) %> |
<%= link_to 'Atras', petitions_trackings_path %>
