<%= form_for(country) do |f| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="country_country_id">ID</label>
    <%= f.number_field :country_id, class:"form-control", :readonly => 'readonly' %>
  </div>

  <div class="field">
    <label for="country_name">Nombre</label>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'submit', :class => 'btn btn-success' %>
  </div>
<% end %>
