

<h1>Paises</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      
      <th>Nombre</th>
      <th>Creado</th>
      <th>Modificado</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.country_id %></td>
        
        <td><%= country.name %></td>
        <td><%= country.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= country.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_country_path(country) %></td>
        <td><%= link_to 'Eliminar', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo pais', new_country_path %>
