<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @country.country_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @country.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @country.update_at %>
</p>

<%= link_to 'Editar', edit_country_path(@country) %> |
<%= link_to 'Atras', countries_path %>
