<p id="notice"><%= notice %></p>

<h1>Ciudades</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Departamento</th>
      <th>Creado</th>
      <th>Modificado</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city_id %></td>
        
        <td><%= city.name %></td>
        <td><%= city.state.name %></td>
        <td><%= city.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= city.update_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %></td>
        
        <td><%= link_to 'Editar', edit_city_path(city) %></td>
        <td><%= link_to 'Eliminar', city, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva ciudad', new_city_path %>
