<h1>Ciudad</h1>

<div class="container form-signin">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>ID:</strong>
    <%= @city.city_id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= @city.name %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= @city.state_id %>
  </p>

  <p>
    <strong>Creado:</strong>
    <%= @city.created_at.in_time_zone("Bogota").strftime("%Y-%m-%d %H:%M") %>
  </p>

  <p>
    <strong>Modificado:</strong>
    <%= @city.update_at %>
  </p>

  <%= link_to 'Editar', edit_city_path(@city) %> |
  <%= link_to 'Atras', cities_path %>
</div>