<p id="notice"><%= notice %></p>

<p>
  <strong>Parameter:</strong>
  <%= @parameter.parameter_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @parameter.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parameter.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @parameter.created_at %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @parameter.update_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @parameter.delete_at %>
</p>

<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
