<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @parameter.parameter_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @parameter.name %>
</p>

<p>
  <strong>Creado:</strong>
  <%= @parameter.created_at %>
</p>

<p>
  <strong>Modificado:</strong>
  <%= @parameter.update_at %>
</p>

<%= link_to 'Editar', edit_parameter_path(@parameter) %> |
<%= link_to 'Atras', parameters_path %>
